@page
@model AndenSemesterProjekt.Pages.Blog.DisplayBlogModel
@{

}

@*Display the blog posts*@
@foreach (var item in Model.Posts)
{
    <p>@item.Id</p>
    <p>@item.Information</p>
    <p>@item.Category</p>
    <p>@item.CreationDate</p>
}

@*Pagination start*@
@if (Model.CurrentPage > 1)
{
    <a class="btn btn-primary" href="/Blog/DisplayBlog?currentPage=@(Model.CurrentPage - 1)">Sidste side</a>
}
else
{
    <a class="btn btn-dark disabled">Sidste side</a>
}

@for (int i = 1; i < @Model.TotalPages + 1; i++)
{
    <a asp-route-currentPage="@i">@i</a>
}

@if (Model.CurrentPage < Model.PageSize)
{
    <a class="btn btn-primary" href="/Blog/DisplayBlog?currentPage=@(Model.CurrentPage + 1)">Næste side</a>
}
else
{
    <a class="btn btn-dark disabled">Næste side </a>
}
@*Pagination End*@

@*<a asp-route-currentPage="@Model.GoUpPage()" class="btn btn-primary">Next Page</a>*@