@page
@model AndenSemesterProjekt.Pages.Blog.DisplayBlogModel
@{

}
@if (Model.CurrentPage == 1)
{
    <h1>Blog</h1>
    <img class="img-fluid" style="object-fit: cover; object-position: center; width: 100vw; height: 100vh; margin-bottom: 100px;"
     src="/data/Images/BlogTitleBillede.jpg"
     alt="Robots in Camp" />

<div class="d-grid gap-2 bg-danger position-fixed top-50 end-0 m-3" style="padding:10px;">
         <div class="bg-info"><p>Caregory 1</p></div>
         <div><p>Caregory 2</p></div>
         <div><p>Caregory 3</p></div>
         
</div>


    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
}

<div class="col-4">
    <form method="post" class="form-inline">
        <div class="input-group mb-3">
            <input class="form-control mr-1" asp-for="@Model.Criteria" placeholder="Enter search term" />
            <input type="submit" asp-page-handler="Criteria" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>

@*Display the blog posts*@

@if (Model.Posts != null)
{
    @foreach (var item in Model.Posts)
    {
        <div class="container-fluid bg-danger">
            <p>@item.Id</p>
            <p>@item.Title</p>
            <p>@item.Information</p>
            <p>@item.Category</p>
            <p>@item.CreationDate</p>
        </div>
    }
}

@*Pagination start*@
<div class="container-fluid m-2 p-2">
@if (Model.CurrentPage != 1 && Model.Criteria == null)
{
    <a class="btn btn-primary" href="/Blog/DisplayBlog?currentPage=@(Model.CurrentPage - 1)">Forrige side</a>
}
else
{
    <a class="btn btn-dark disabled">Forrige side</a>
}

@for (int i = 1; i < @Model.TotalPages + 1; i++)
{
    <a asp-route-currentPage="@i">@i</a>
}
    @if (Model.CurrentPage < Model.PageSize && Model.Criteria == null)
{
    <a class="btn btn-primary" href="/Blog/DisplayBlog?currentPage=@(Model.CurrentPage + 1)">Næste side</a>
}
else
{
    <a class="btn btn-dark disabled">Næste side </a>
}
</div>
<div class="col-4">
    <form method="post" class="form-inline">
        <div class="input-group mb-3">
            <input class="form-control mr-1" asp-for="@Model.Criteria" placeholder="Enter search term" />
            <input type="submit" asp-page-handler="Criteria" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>
@*Pagination End*@

@*<a asp-route-currentPage="@Model.GoUpPage()" class="btn btn-primary">Next Page</a>*@