@page
@model AndenSemesterProjekt.Pages.Blog.DisplayBlogModel
@{

}



@foreach (var item in Model.Posts)
{
    <p>@item.Id</p>
    <p>@item.Information</p>
    <p>@item.Category</p>
    <p>@item.CreationDate</p>
}

@*<a asp-route-currentPage="@Model.GoDownPage()" class="btn btn-primary">Last Page</a>*@
@if (Model.CurrentPage > 1)
{
    <a class="btn btn-primary" href="/Blog/DisplayBlog?currentPage=@(Model.CurrentPage - 1)">Previous page</a>
}

@for (int i = 1; i < @Model.TotalPages + 1; i++)
{
    <a asp-route-currentPage="@i">@i</a>
}

@if (Model.CurrentPage < Model.BlogSize)
{
    <a class="btn btn-primary" href="/Blog/DisplayBlog?currentPage=@(Model.CurrentPage + 1)">NextPage</a>
}
@*<a asp-route-currentPage="@Model.GoUpPage()" class="btn btn-primary">Next Page</a>*@