@page
@model AndenSemesterProjekt.Pages.Products.CreateProductModel
@{
}

<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!--Form containg all the information for creating a new blog post-->
<form method="post" id="form">
    <div class="input-group mb-3">
        <input asp-for="@Model.Product.Title" class="form-control mr-1" placeholder="Enter Title" />
    </div>
    <input type="hidden" id="jdr" asp-for="@Model.Information" />
    <div id="editor">
        @Html.Raw(Model.Information)
    </div>
    <div class="input-group mb-3">
        <input asp-for="@Model.Product.Price" class="form-control mr-1" placeholder="Enter Price" />
    </div>
    <div class="input-group mb-3">
        <select asp-for="@Model.Product.ProductCategories.Id">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Category</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create Product
        </button>
        <!-- Modal -->
        <script>
            var myModal = document.getElementById('myModal')
            var myInput = document.getElementById('myInput')

            myModal.addEventListener('shown.bs.modal', function () {
                myInput.focus()
            })
        </script>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Er du sikker på du gerne vil uploade produktet?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nej</button>
                        <input type="submit" onclick="handleSubmit()" value="Create Product" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Initialize Quill editor -->
<script>
    var jdQuill = new Quill('#editor', {
        modules: {
            toolbar:
            {
                container: [
                    [{ 'header': [2, 3, 4, 5, 6, false] }],
                    [{ 'font': [] },],
                    //[{ 'size': ['small', false, 'large', 'huge'] }],
                    ['bold', 'italic', 'underline', 'strike', { 'color': [] }, { 'background': [], }],
                    ['link', 'image', 'video'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'indent': '+1' }, { 'indent': '-1' }, { 'align': [] }],
                    ['clean']],
            }
        },
        placeholder: 'Skriv blog opslaget',
        theme: 'snow'
    });

    // Function that gets called onClick when pressing the create post button
    function handleSubmit() {
        console.info('handleSubmit called');
        console.info('quill contents: ' + JSON.stringify(jdQuill.getContents()));
        document.getElementById('jdr').value = JSON.stringify(jdQuill.getContents());
    }
</script>












