@page
@model AndenSemesterProjekt.Pages.Products.DisplayProductModel
@{
}

<h1>PRODUCTS!!!!!!</h1>


@if (Model.products != null)
{
    @foreach (var item in Model.products)
    {
        <div class="container-fluid bg-danger">
            <p>@item.Title</p>
            <p>@item.Description</p>
            @*<img class="col-md-8" src="/data/Images/PostTest.jpg">*@
            <p>@item.Pris</p>
            <p>@item.Category</p>
            <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteProduct" asp-route-id="@item.Id">Delete</a>
        </div>
    }
}